@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  src: url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url(fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: 'Oswald';
  font-weight: 700;
  src: url(fonts/Oswald/static/Oswald-Bold.ttf);
}
@font-face {
  font-family: 'Oswald';
  font-weight: 400;
  src: url(fonts/Oswald/static/Oswald-Regular.ttf);
}
:root {
  --main-color: #5CF1C4;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}
body {
  background-image: url(img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.bg-fon {
  background-color: rgba(4, 6, 56, 0.726);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.wrapper {
  width: calc(100% - 90px);
  margin: 0 auto;
  margin-left: 0;
  max-width: 1280px;
}
.mainB {
  display: flex;
}
.headerM {
  background-color: rgb(11, 11, 13, 50%);
}
.header-bg {
  width: 190px;
  display: flex;
  flex-direction: column;
  height: 875px;
  align-items: center;
}
.ZakharLOGO {
  margin-top: 40px;
  height: auto;
  width: auto;
}
.zakhar {
  color: #5CF1C4;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-decoration: none;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}
.zakhar span {
  color: #fff;
}
.nav .nav-list {
  margin: 0;
  margin-top: 50px;
  padding: 0;
}
.navpages {
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 17px;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 12px 5px;
  transition: 0.5s;
}
.navpages:hover {
  color: #5CF1C4;
}
.supcont {
  margin: 0;
  margin-top: 200px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.supcont :hover {
  color: #5CF1C4;
}
.support {
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 17px;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 14.5px 5px;
  transition: 0.5s;
}
.contact {
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 17px;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 14.5px 5px;
  transition: 0.5s;
}
.copyright {
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 17px;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 25%;
  display: block;
  padding: 30.5px 5px;
  transition: 1s;
}
.Mcont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 190px;
  margin-left: 104px;
}
.SST {
  color: #fff;
  font-size: 28px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.SST span {
  color: #5CF1C4;
  font-size: 60px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.text {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.knopka {
  margin-top: 18px;
  width: 175px;
  height: 40px;
  background-color: transparent;
  border: 2px solid #5CF1C4;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 10px;
  color: #fff;
  text-transform: uppercase;
  transition: 1.5s;
}
.knopka:hover {
  background-color: #0A664A;
}
.img-list {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.image {
  height: 78px;
  width: 130px;
  border: 3px solid #5CF1C4;
  border-radius: 5.5px;
  margin-right: 20px;
}
.news {
  margin-top: 50px;
  color: #fff;
  font-size: 21px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.triangle {
  margin-left: 10px;
  height: 15px;
  width: 16px;
}
.text2 {
  margin-top: 18px;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #fff;
}
.socials {
  height: 36px;
  width: 135px;
  background-color: #5CF1C4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.soc {
  width: 16px;
  height: 16px;
}
